<!DOCTYPE html>
<html>

<head>
    <title>Roll For Init: Verification Email</title>
</head>

<body>
    <div class="container">
        <center><img img src=logo.png alt="logo" /></center>
        <div class="content">
            <div class="header">Hello {{username}},</div>
            <div class="body"> To verify your email, click the link below.</div>
            <div class="url">{{url}}</div>
            <center>
                <div>
                    <a href="http://www.google.com/"><img img src=logo.png alt="logo" width="60" height="60" /></a>
                </div>
            </center>
        </div>
    </div>

</body>

</html>