<!DOCTYPE html>
<html>

<head>
    <title> Welcome to Roll For Init </title>
</head>

<body>
    <div class="container">
        <center>
            <div class="logo"><img img src=logo.png alt="logo" /></div>
        </center>
        <div class="content">
            <div class="tableHeader">
                Hello, {{data.username}}
            </div>
            <div class="tableBody">
                Your email has been successfully verified. Thank you for creating an account with Roll For Init!
            </div>
            <center>
                <div>
                    <a href="http://google.com/"><img img src=logo.png alt="logo" width="60" height="60" /></a>
                </div>
            </center>
        </div>
    </div>
</body>

</html>