@import 'client/app/variables';

.container {
  height: calc(100vh - 56px);
  text-align: center;
}

.container.landing {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.logo {
  // margin-bottom: 25px;
  width: 100%;
}

.top-buttons {
  width: 80% !important;
  margin: 15px 0px;
  @media (min-width: 768px) {
    max-width: 325px;
    width: 40% !important;
    margin: 25px;
  }
}

.btm-buttons {
  width: 60% !important;
  // width: auto;
  margin: 15px 0px;
  @media (min-width: 768px) {
    margin: 25px calc((min(40%, 325px) - 200px) / 2 + 25px);
    max-width: 200px;
    width: 30% !important;
  }
}

.btm-button-container > a {
  @media (min-width: 768px) {
    &:first-child {
      > .btn {
        margin-left: 25px;
      }
    }
    &:last-child {
      > .btn {
        margin-right: 25px;
      }
    }
  }
}

.filler-space {
  height: 5%;
}

.log-out-button {
  float: right;
  margin-top: 50px;
  height: 50px;
}

.close {
  box-shadow: none;
  color: $off-white;
  width: 10%;
  height: 15%;
  position: absolute;
  right: -20px;
  top: -25px;
}
.close:hover {
  color: $dark-off-white;
}

.modal-content {
  color: white;
  border: none;
  font-family: 'IM Fell DW Pica' !important;
  background-color: $dark-maroon;
  box-shadow: 0px 1px 10px hsla(0, 0, 0, 67%);
  padding: 20px;
}

.modal-dialog {
  max-width: 400px;
  width: 85vw;
  margin: auto;
}

.modal-sect {
  background-color: $off-white;
  box-shadow: 1px 2px 2px hsla(0, 0, 0, 67%);
  color: #172838;
  border: 3px solid $maroon;
  border-radius: 8px;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
  h5 {
    font-variant: small-caps;
  }
  p {
    text-align: left;
  }
}

.landing .btn {
  text-transform: lowercase;
}

.character-container {
  max-width: 500px;
  padding-bottom: 5px;
  margin: 0 auto;
}

.info-container {
  margin: auto;
  margin-left: 10px;
  text-align: left;
}

.character-name {
  font-variant: small-caps;
  margin: 0;
  margin-bottom: 4px;
  color: $dark-blue;
  font-size: 1.4rem;
  line-height: 1;
  h5 {
    margin: 0;
  }
}

.character-info {
  text-transform: capitalize;
  color: $dark-blue;
  font-variant: none;
  font-size: 1rem;
  margin: 0;
}

.character-icon {
  //   &:first-child {
  //     margin-left: 0;
  //   }
  margin-left: 8px;
  display: inline-block;
  max-width: 60px;
  max-height: 30px;
  width: auto;
  height: auto;
}

.portrait-icon {
  display: inline-block;
  max-width: 80px;
  max-height: 80px;
  width: auto;
  height: auto;
}

.icon-container {
  margin: auto;
  margin-right: 10px;
}
