$blue: #65738c;
$medium-blue: #566276;
$dark-blue: #3c4453;
$blue-disabled: #65738c80;
$dark-blue-disabled: #3c445380;
$off-white: #f2e9d9;
$medium-off-white: #d8cbbe;
$dark-off-white: #beada3;
$off-white-disabled: #f2e9d980;
$light-maroon: #54494b;
$lighter-maroon: #54494b80;
$maroon: #4f2932;
