$blue: #6b7fa2;
$medium-blue: #566276;
$dark-blue: #404959;
$blue-disabled: #6b7fa280;
$dark-blue-disabled: #40495980;
$off-white: #f6efe4;
$medium-off-white: #e3dbd2;
$dark-off-white: #d0c7c0;
$off-white-disabled: #d0c7c080;
$light-maroon: #575152;
$light-maroon-translucent: #57515280;
$maroon: #4f2932;
$dark-maroon: #2f292a;
$white-disabled: hsla(0, 0%, 100%, 50%);
$green: #85ad8a;
$red: #e94445;
