@import '/~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_grid-framework';
@import '~bootstrap/scss/mixins/_grid';
$grid-columns: 24 !important;

$light-blue: #809cce;
$blue: #6b7fa2;
$medium-blue: #566276;
$dark-blue: #404959;
$very-dark-blue: #2a303c;
$blue-disabled: #6b7fa280;
$dark-blue-disabled: #40495980;
$very-dark-blue: #2a303c;
$off-white: #f6efe4;
$medium-off-white: #e3dbd2;
$dark-off-white: #d0c7c0;
$off-white-disabled: #d0c7c080;
$light-maroon: #575152;
$light-maroon-translucent: #57515280;
$maroon: #4f2932;
$maroon-translucent: #4f293280;
$dark-maroon: #302d2e;
$white-disabled: hsla(0, 0%, 100%, 50%);
$green: #85ad8a;
$medium-green: #6c9371;
$dark-green: #537958;
$red: #e94445;
$desat-red: #be4448;
$yellow: #eac343;
$dark-yellow: #d4af37;
$copper: #b87333;
$silver: #b4babe;
$electrum: #c4b57b;
$gold: #d4af37;
$platinum: #dde5f0;
