@import 'client/app/variables';

.legal-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 15rem;
    padding-right: 15rem;
    text-align: center;
    p {
        text-align: left;
    }
}
