@import 'client/app/variables';

.side-drawer {
  border-right: 1px solid black;
  padding: 0px;
}

.page-row {
  height: 100%;
}

.accordion-header {
  margin: 0px;
}

.accordion-button {
  border: 0px;
  border-bottom: 1px solid lightgray !important;
  padding: 0px;
  width: 100%;
}

.create {
  h1 {
    background-color: #333;
  }
  h2 {
    background-color: $maroon;
  }
  .race,
  .class,
  .abilities {
    .options {
      width: 100%;
      @media (min-width: 768px) {
        width: 400px;
      }
      border: $maroon 3px solid !important;
      text-transform: capitalize;
      border-radius: 8px;
    }
    .dropdown-menu {
      min-width: 250px;
      width: 400px;
      background-color: $medium-off-white;
      border-radius: 0;
      border: $maroon 3px solid !important;
      border-top: 0px !important;
    }
    .dropdown-toggle::after {
      float: right;
      margin-top: 12px;
    }
    .options-dropdown {
      color: $dark-blue;
      background-color: $medium-off-white;
    }
    .abilities-dropdown {
      font-size: 24px;
      margin-top: 20px;
    }
    .point-card {
      background-color: $light-maroon-translucent;
      padding: 10px;
      min-height: 250px;
      margin-right: 15px;
      margin-left: 15px;
    }

    .text-background {
      background-color: $medium-off-white;
      border: $maroon 3px solid !important;
      color: $dark-blue;
    }

    .dd-wrapper {
      width: 100%;
      .dd-header__title,
      .dd-header__action {
        color: $dark-blue;
      }
    }
  }

  .side-bar {
    background-color: $light-maroon-translucent;
    padding: 0px 15px;
    height: 100%;
    position: fixed;

    .btn-group-vertical {
      align-items: center;
    }
  }

  .container {
    position: relative;
    top: 45px;
    height: calc(100vh - 45px);
    @media (min-width: 768px) {
      top: 0px;
      height: calc(100vh - 90px);
    }
  }
}

.menu-button {
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 8px !important;
  min-width: 150px;
  max-width: 80%;
  text-transform: capitalize;
  font-variant: small-caps;
}

.title-card {
  background-color: $maroon;
  border: 3px solid $maroon;
  border-image: url('../../../public/assets/imgs/border-off-white.png') 156.375 /
    156.375 stretch;
  font-variant: small-caps;
  width: 450px;
}

.btn-back {
  width: 60px !important;
  height: 60px !important;
  position: relative;
  top: calc((5.4rem - 60px) / 2);
  font-size: 2rem;
  line-height: 1;
  flex: 0 0 60px;
  padding: 0px;
}

.btn-back-spacer {
  width: 60px !important;
  height: 60px !important;
  background: transparent;
  flex: 0 0 60px;
}

.title-back-wrapper {
  display: flex;
  justify-content: center;
}

.btn-back-sm {
  margin-bottom: 0;
  line-height: 1;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 10px;
  width: auto !important;
  i {
    margin-right: 10px;
  }
}

.card {
  color: $dark-blue;
  margin: 5px auto;
  background: transparent;
  border: none;
  border-radius: 8px;
}

.content-card {
  background-color: $off-white;
  border: 3px solid $maroon;
}

.shadow-card {
  box-shadow: 0px 1px 10px hsla(0, 0, 0, 67%);
}

.translucent-card {
  background-color: $light-maroon-translucent;
  padding: 20px;
  margin: 25px auto;
  max-width: 660px;
  border-radius: 8px;
}

.floating-card {
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.card-title {
  padding: 10px 20px;
  // margin: auto;
  font-variant: small-caps;
  display: inline-block;
  margin-top: 0px;

  h4 {
    margin: 0;
  }
}

.card-subtitle {
  padding: 5px 10px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
}

.choice {
  padding: 5px;
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
  max-width: 500px;
}
.dd-choice {
  padding: 5px;
  flex: 1;
  max-width: 500px;
}
// .choice:first-child {
//   margin-left: 0px;
// }
// .choice:last-child {
//   margin-right: 0px;
// }

.choice-container {
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
}

.physical-card {
  padding: 5px;
  max-width: 150px;
  margin-bottom: 5px;
}

.drag-drop-card {
  max-width: 500px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  outline: none;
}

.equipment-card {
  margin: 0;
  padding: 10px;
  text-align: left;
  color: $dark-blue;
}
.selected-card {
  border: 3px solid $green;
  -webkit-box-shadow: 0 0 5px 1px $green;
  -moz-box-shadow: 0 0 5px 1px $green;
  box-shadow: 0 0 5px 1px $green;
}

.equipment-card-title {
  color: $dark-blue;
}

.equipment-card-body {
  color: $dark-blue;
}

.equipment-item {
  color: $dark-blue;
}
.equipment-item-info {
  text-transform: lowercase;
}

.same-line {
  margin: 0;
  color: $dark-blue;
  display: flex;
  justify-content: space-between;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1.5px solid $dark-blue-disabled;
  border-radius: 0.75px;
}
.separator:not(:empty)::before {
  margin-left: 15px;
}
.separator:not(:empty)::after {
  margin-right: 15px;
}

.amp {
  font-family: 'IM Fell English';
  color: $dark-blue;
  font-size: 2rem;
  padding: 0 5px;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1.5px solid $dark-blue;
  border-radius: 1px;
  margin: 5px auto;
  padding: 0;
}

.upload-buttons {
  max-width: 100px;
  max-height: 60px;
  padding: 5px 0px;
  margin: 0px;
}

.description-card {
  padding: 10px 10px;
  text-align: left;
  width: 100%;
  max-width: 620px;
  display: inline-block;

  .card-subtitle {
    text-align: center;
    margin: 0px auto;
    padding: 0px;
  }

  p {
    margin: 0 auto;
  }
}

.spell-custom-container {
  & > .container {
    height: auto;
    padding-left: 0;
    padding-right: 0;
    & > .card-columns {
      column-count: 2;
      widows: 1;
      column-gap: 15px;
      .card {
        width: 302.5px;
        margin-bottom: 0.3rem;
      }
    }
  }
}
.spell-card {
  padding: 8px;
  height: auto;
  margin-left: 0px;
  margin-right: 0px;

  & > .container-fluid {
    padding-left: 0;
    padding-right: 0;
    & > .row {
      margin-right: auto;
      margin-left: auto;
      & > .spell-title {
        font-size: 24px;
        display: inline-block;
        color: $dark-blue;
        padding: 0;
        text-align: left;
      }
      & > .btn-outline-success {
        border: {
          style: solid !important;
          color: $green !important;
          width: 3px !important;
          radius: 8px;
        }
        color: $dark-blue;
        box-shadow: none;
        margin: 0px;
        float: right;
        font-size: 18px;
        padding: 0.025em 0.05em;
        min-width: 78px;
        max-height: 30px;
        flex-grow: 0;
        right: 0;

        &:hover,
        &:active {
          background-color: $green;
          color: $off-white;
        }
      }
      & > .btn-clicked {
        @extend .btn-outline-success;
        background-color: $green;
        color: $off-white;

        //how to make it go back to default immediately on click?
      }
      & > .btn-inactive {
        @extend .btn-outline-success;
        background-color: $medium-off-white;
        color: $dark-blue-disabled;
        &:hover {
          background-color: $medium-off-white;
          color: $dark-blue-disabled;
        }
      }
    }
  }

  hr {
    margin: {
      top: 4px;
      bottom: 4px;
      right: -4px;
      left: -4px;
    }
    border: {
      width: 2px;
      color: $dark-blue;
    }
  }

  .spell-desc {
    text-align: left;
    line-height: normal;
    color: $dark-blue !important;

    & > div {
      color: $dark-blue !important;
    }
    & > p {
      color: $dark-blue !important;
      margin-bottom: 0;
      & > span {
        float: right;
        color: $dark-blue !important;
      }
    }
  }
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 20px;
}

.read-more-less--more,
.read-more-less--less {
  color: $blue;
  float: right;
  text-decoration: underline;
}

.error-msg {
  color: $red;
  padding-bottom: 0px;
  margin: 5px 0px 0px 0px;
}

.upload-file-name {
  top: 10px;
  left: 115px;
  position: absolute;
}

.floating-label {
  box-sizing: border-box;
  display: block;
  width: 100%;
  position: relative;
  font-family: 'IM Fell DW Pica';
  padding: 5px 0px;
  margin: 0px;
  color: $dark-blue-disabled;
}

.floating-label input,
.floating-label textarea {
  width: 100%;
  border: none;
  background-color: $off-white !important;
  box-sizing: border-box;
  border-radius: 3px;
  font-family: 'IM Fell DW Pica';
  padding: 0px;
  margin: 0px;
}

.floating-label textarea {
  margin-top: 5px;
  color: $dark-blue;
}

.floating-label input:focus,
.floating-label textarea:focus {
  background-color: $medium-off-white !important;
  outline: none;
}

.floating-label input:focus + span,
.floating-label textarea:focus + span,
.floating-label.floating span {
  color: $dark-blue;
  font-size: 0.625rem;
  padding: 0px;
}

.floating-label input:focus:not(:focus-visible),
.floating-label textarea:focus:not(:focus-visible) {
  outline: none;
}

.floating-label span {
  box-sizing: border-box;
  font-size: 1rem;
  left: 0;
  padding: 10px 0px;
  pointer-events: none;
  position: absolute;
  top: -5px;
  transition: font-size 200ms, padding 200ms;
  z-index: 1;
}

.shoop {
  width: 100%;
}

.btn-floating {
  position: sticky;
  bottom: 25px;
  z-index: 10;
  margin: 0 25px 25px;
}

.btn-card {
  position: absolute;
  top: 10px;
  right: 10px;
  color: $medium-green;
  font-size: 1rem;
  max-width: 70px;
  margin: 0 0px 10px 0px;
  padding: 5px;
  box-shadow: none;
  line-height: 1;
  max-height: 1.67rem;
}
.btn-outline-success {
  &:hover {
    background-color: $medium-green;
  }
  &:focus {
    color: $off-white;
    background-color: $dark-green;
  }
}
.btn-clicked {
  color: $off-white;
  background-color: $medium-green;
  &:hover {
    color: $off-white;
  }
  &:focus {
    color: $off-white;
  }
}

// .read-animate {
//     animation: readAnimate 200ms ease-in-out forwards;
// }

// @keyframes readAnimate {
//     0% {
//         transform: scaleY(0);
//     }
//     95% {
//         transform: scaleY(0.9);
//     }
//     100% {
//         transform: scaleY(1);
//     }
// }

.mobile-menu-wrapper {
  background-color: $maroon;
  height: 45px;
  width: 100%;
  position: fixed;
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0%, 0%, 67%);
  -moz-box-shadow: 0 1px 2px rgba(0, 0%, 0%, 67%);
  box-shadow: 0 1px 2px rgba(0, 0%, 0%, 67%);

  .mobile-menu-header {
    display: flex;
    cursor: pointer;
    color: white;
    width: 100%;
    margin: auto;
    font-size: 1.5rem;
    z-index: 20;

    &__title {
      flex: 1;
      text-align: center;
      text-transform: capitalize;
      font-variant: small-caps;
    }
    &__action {
      right: 25px;
      margin: auto;
      position: fixed;
    }
  }

  .mobile-menu-list {
    padding: 0px;
    margin: 0px;
    width: 100%;
    position: absolute;
    top: 100%;
    z-index: 10;
    max-height: 500px;
    background-color: $dark-maroon;
    li {
      list-style-type: none;

      button {
        display: flex;
        justify-content: center;
        margin: 15px auto;
        border-radius: 8px !important;
        min-width: 200px;
        text-transform: capitalize;
        font-variant: small-caps;
      }
    }
  }
}
