@import "client/app/variables";

.side-drawer {
  border-right: 1px solid black;
  padding: 0px;
}

.page-row {
  height: 100%;
}

.accordion-header {
  margin: 0px;
}

.accordion-button {
  border: 0px;
  border-bottom: 1px solid lightgray !important;
  padding: 0px;
  width: 100%;
}

.menu-button {
  margin-left: 0px;
  margin-right: 0px;
  border-radius: 8px !important;
  min-width: 200px;
  text-transform: capitalize;
  font-variant: small-caps;
}

.title-card {
  background-color: $maroon;
  border: 30px solid inherit;
  border-image: url('../../../public/assets/imgs/border-square.png') 156.375 / 156.375 stretch;
  font-variant: small-caps;
  margin: 0 auto 25px;
  max-width: 450px;
}

.side-bar {
  background-color: $light-maroon-translucent;
}
.race, .class {
  .options {
    background-color: $off-white;
    border: $maroon 3px solid !important;
    color: $dark-blue;
    font-variant: small-caps;
  }
}

.card {
  color: $dark-blue;
  border-radius: 8px;
  // margin: 20px auto;
}

.content-card {
  background-color: $off-white;
  border: 3px solid $maroon;
}

.shadow-card {
  box-shadow: 0px 1px 10px hsla(0, 0, 0, 67%);
}

.translucent-card {
  background-color: $light-maroon-translucent;
  padding: 15px 20px;
  margin: 25px auto;
}

.card-title {
  padding: 10px 20px;
  margin: 5px auto;
  font-variant: small-caps;
}

.card-subtitle {
  padding: 5px 20px;
  margin: 5px auto;
  max-width: 500px;
}

.skill-container {
  display: flex;
}
.skill-card {
  margin: 5px auto;
  padding: 5px 0px;
  flex: 1;
}
.skill-card:first-child {
  margin-right: 10px;
}

.language-card {
  padding: 5px;
  width: 50%;
  margin: 5px auto;
}

.description-card {
  padding: 15px 15px;
  margin: 5px 0px;
  text-align: left;
  width: 100%;
}

.read-more-less--more,
.read-more-less--less {
  color: $blue;
  text-align: right;
  text-decoration: underline;
  line-height: .5rem;
}

.shoop {
  width: 100%;
}
